* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
}

$primary: #F7F7F7;
$secondary: #E6E6E6;
$btn: #F0F0F0;
$size: 80px;
$fade: 0.25;

// Légende
$self: rgb(212, 205, 97);
$conge: rgb(224, 187, 138);
$html: rgb(77, 141, 101);
$css: rgb(77, 191, 199);
$js: rgb(184, 78, 78);
$php: rgb(83, 156, 216);
$phpoo: rgb(61, 135, 165);
$drupal: rgb(54, 82, 124);
$symfony: rgb(113, 103, 206);
$twig: rgb(117, 89, 150);
$mariadb: rgb(46, 93, 194);
$tsangular: rgb(112, 39, 39);
$uml: rgb(154, 184, 127);
$git: rgb(147, 170, 185);
$uiux: rgb(117, 136, 139);
$scrum: rgb(131, 192, 51);
$rgpd: rgb(155, 106, 83);
$security: rgb(67, 59, 95);
$labo: rgb(72, 173, 143);
$tfe: rgb(224, 134, 30);


h1, h2, h3 {margin: 15px;}
h1 {
    font-size: 32px;
    margin-bottom: 40px;
}
h2 {font-size: 28px;}
h3 {font-size: 22px;}

.month-picker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .month-pick, .month-pick-all {
        cursor: pointer;
        margin: 0 5px 20px 5px;
        padding: 8px 14px;
        background-color: $btn;
        border-radius: 5px;
    }
    .month-pick-all {
        margin-left: 25px;
    }
}

.month {
    background-color: $primary;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h2 {
        margin-top: 20px;
    }
}
.week-indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    div {
        flex: 1;
        margin: 5px;
        text-align: center;
        width: $size;
    }
}
.week {
    display: flex;
    flex-direction: row;
    .fade, div:nth-child(6), div:nth-child(7) {
        opacity: $fade;
        p {
            color: black;
        }
    }
}
.day {
    background-color: $secondary;
    margin: 5px;
    flex: 1;
    height: $size;
    width: $size;
    border-radius: 5px;
    p {
        color: white;
        margin: 5px 10px;
    }
}

.legend {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    .legend-btn {
        align-self: flex-end;
        cursor: pointer;
        background-color: $btn;
        padding: 5px 10px;
        margin: 5px;
        border-radius: 5px;
        width: fit-content;
    }
    .legend-content {
        background-color: $primary;
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        border-radius: 5px;
        p {
            color: white;
            padding: 10px;
            margin: 5px;
            border-radius: 5px;
        }
    }
}



// Legend background color, positionned last to correctly override the class ".day"
.self {background-color: $self;}
.conge {background-color: $conge;}
.html {background-color: $html;}
.css {background-color: $css;}
.js {background-color: $js;}
.php {background-color: $php;}
.phpoo {background-color: $phpoo;}
.drupal {background-color: $drupal;}
.symfony {background-color: $symfony;}
.twig {background-color: $twig;}
.mariadb { background-color: $mariadb;}
.tsangular {background-color: $tsangular;}
.uml {background-color: $uml;}
.git {background-color: $git;}
.uiux {background-color: $uiux;}
.scrum {background-color: $scrum;}
.rgpd {background-color: $rgpd;}
.security {background-color: $security;}
.labo {background-color: $labo;}
.tfe {background-color: $tfe;}