* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
}

h1, h2, h3 {
  margin: 15px;
}

h1 {
  font-size: 32px;
  margin-bottom: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

.month-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.month-picker .month-pick, .month-picker .month-pick-all {
  cursor: pointer;
  margin: 0 5px 20px 5px;
  padding: 8px 14px;
  background-color: #F0F0F0;
  border-radius: 5px;
}

.month-picker .month-pick-all {
  margin-left: 25px;
}

.month {
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.month h2 {
  margin-top: 20px;
}

.week-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.week-indicator div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px;
  text-align: center;
  width: 80px;
}

.week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.week .fade, .week div:nth-child(6), .week div:nth-child(7) {
  opacity: 0.25;
}

.week .fade p, .week div:nth-child(6) p, .week div:nth-child(7) p {
  color: black;
}

.day {
  background-color: #E6E6E6;
  margin: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 80px;
  width: 80px;
  border-radius: 5px;
}

.day p {
  color: white;
  margin: 5px 10px;
}

.legend {
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
}

.legend .legend-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  background-color: #F0F0F0;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.legend .legend-content {
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  border-radius: 5px;
}

.legend .legend-content p {
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.self {
  background-color: #d4cd61;
}

.conge {
  background-color: #dfb174;
}

.html {
  background-color: #4d8d65;
}

.css {
  background-color: #4dbfc7;
}

.js {
  background-color: #b84e4e;
}

.php {
  background-color: #539cd8;
}

.phpoo {
  background-color: #3d87a5;
}

.drupal {
  background-color: #36527c;
}

.symfony {
  background-color: #7167ce;
}

.twig {
  background-color: #755996;
}

.mariadb {
  background-color: #5859a7;
}

.tsangular {
  background-color: #702727;
}

.uml {
  background-color: #9ab87f;
}

.git {
  background-color: #93aab9;
}

.uiux {
  background-color: #75888b;
}

.scrum {
  background-color: #83c033;
}

.rgpd {
  background-color: #9b6a53;
}

.security {
  background-color: #433b5f;
}

.labo {
  background-color: #48ad8f;
}

.tfe {
  background-color: #e0861e;
}
/*# sourceMappingURL=projet.css.map */